---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import SpringBoot from "./icons/SpringBoot.astro"
import SpringSecurity from "./icons/SpringSecurity.astro"
import Link from "./icons/Link.astro"
import JavaScript from "./icons/JavaScritp.astro"
import LinkButton from "./LinkButton.astro"
import Spring from "./icons/Spring.astro"
import MySQL from "./icons/MySQL.astro"
import Angular from "./icons/Angular.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#bdb777] text-white",
    icon: JavaScript,
  },
  SPRINGBOOT: {
    name: "Spring Boot",
    class: "bg-[#466f12] text-white",
    icon: SpringBoot,
  },
  SPRINSECURITY: {
    name: "Spring Security",
    class: "bg-[#466f12] text-white",
    icon: SpringSecurity,
  },
  MYSQL:{
    
    name: "MySQL",
    class: "bg-[#00171e] text-white",
    icon: MySQL,
  }, ANGULAR:{
    name: "Angular",
    class: "bg-[#a70e41] text-white",
    icon: Angular,
  },
  

}
const PROJECTS = [
  {
    title: "Edatech - Desing & development",
    type: "Proyecto front-end",
    description:
      "Startup especializada en desarrollo web y dise침o, creada para ofrecer soluciones digitales eficientes y visualmente atractivas.",
    link: "https://rignu1503.github.io/EdaTech/",
    githubFront: "https://github.com/Rignu1503/EdaTech",
    image: "/projects/edatech.webp",
    tags: [TAGS.JS, TAGS.TAILWIND],
  },
  {
    title: "Local Storage",
    type: "Proyecto Full Stack",
    description:
      "Sistema backend para la gesti칩n de inventarios y 칩rdenes de compra, con enfoque en eficiencia y escalabilidad.",
    link: "https://local-storage-dun.vercel.app/products/list",
    documentation: "/localStorage",
    githubBack: "https://github.com/Rignu1503/localStorageProyect", 
    githubFront: "https://github.com/Rignu1503/localStorageFrontend", 
    image: "/projects/localStorage.webp",
    tags: [TAGS.MYSQL, TAGS.SPRINGBOOT, TAGS.SPRINSECURITY, TAGS.ANGULAR ,TAGS.TAILWIND, ],
  },
]

---
<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, type, description, tags, link, documentation, githubBack, githubFront }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img alt={title} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <h5 class="text-l text-gray-800 dark:text-gray-100">
            {type}
          </h5>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row flex-wrap mb-2 gap-x-2 gap-y-2">
              {tags.map((tag) => (
                <li class="flex">
                  <span
                    class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>


            <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {githubBack && (
                <LinkButton href={githubBack}>
                  <GitHub class="size-6" />
                  BackEnd
                </LinkButton>
              )}
              {githubFront && (
                <LinkButton href={githubFront}>
                  <GitHub class="size-6" />
                  FrontEnd
                </LinkButton>
              )}
              {(link || null) && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
              {documentation && (
                <LinkButton href={documentation}>
                  <Link class="size-4" />
                  Documentaci칩n
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>


